@charset "utf-8";
@import url(../common.css);
/* 웹폰트 main: Roboto */
   /* @font-face {
	font-family: 'Notosans';
	font-weight: normal;
	src: url(../../font/NotoSansKR-Regular.eot);
	src: url(../../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		 url(../../font/NotoSansKR-Regular.woff) format('woff');
   }
   @font-face {
	font-family: 'Notosans';
	font-weight: 300;
	src: url(../../font/NotoSansKR-Light.eot);
	src: url(../../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		 url(../../font/NotoSansKR-Light.woff) format('woff');
   }
   @font-face {
	font-family: 'Notosans';
	font-weight: 500;
	src: url(../../font/NotoSansKR-Medium.eot);
	src: url(../../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../../font/NotoSansKR-Medium.woff) format('woff');
   }
   @font-face {
	font-family: 'Notosans';
	font-weight: 700;
	src: url(../../font/NotoSansKR-Bold.eot);
	src: url(../../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		 url(../../font/NotoSansKR-Bold.woff) format('woff');
   } */

   @font-face {
	font-family: 'Roboto';
	font-weight: normal;
	src: url(../../font/roboto-regular.eot);
	src: url(../../font/roboto-regular.eot?#iefix) format('embedded-opentype'),
		 url(../../font/roboto-regular.woff) format('woff');
   }
   @font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: url(../../font/roboto-light.eot);
	src: url(../../font/roboto-light.eot?#iefix) format('embedded-opentype'),
		 url(../../font/roboto-light.woff) format('woff');
   }
   @font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url(../../font/roboto-medium.eot);
	src: url(../../font/roboto-medium.eot?#iefix) format('embedded-opentype'),
		 url(../../font/roboto-medium.woff) format('woff');
   }
   @font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url(../../font/roboto-bold.eot);
	src: url(../../font/roboto-bold.eot?#iefix) format('embedded-opentype'),
		 url(../../font/roboto-bold.woff) format('woff');
   } 
   input, textarea, button, select	{font-family:"Roboto", sans-serif !important;}
   body	{font-family:"Roboto", sans-serif !important;}

