
.news .keyvisual{background:url(../images/sub/img-visual-news.jpg) no-repeat center}
/* .news{font-family: 'Nanum Gothic'} */
.news .search-box {margin:80px 0}
.news .search-box .inner-box{position:relative;width:540px;margin:0 auto}
.news .search-box .select-box{position:absolute;top:1px;left:0;width:110px;z-index:1}
.news .search-box .select-box label{width:100%;border:0;font-size:18px;height:60px;line-height:60px;color:#666;letter-spacing:-1px;padding-right:23px}
.news .search-box .select-box label::after{width:12px;height:8px;background:url(../images/sub/ico-select.gif) no-repeat 0 0/cover;transform:translate(0,-50%)}
.news .search-box  input[type="search"]{position:relative;z-index:0;width:100%;padding:0 72px 0 121px;font-size:18px;letter-spacing:-0.04em;color:#666;box-sizing:border-box;height:62px;line-height:60px;border:1px solid #e5e5e5}
.news .search-box .btn-srch{position:absolute;top:0;right:0;width:62px;height:0;padding-top:62px;overflow:hidden;background:#0590e1 url(../images/ico-srch.png) no-repeat center;z-index:1}

.board-list{border-top:1px solid #e5e5e5}
.board-list li .info{display:block;position:absolute;top:0;left:0;padding:10px;background:rgba(0,0,0,.6);color:#fff;font-size:12px;letter-spacing: -1px;}
.board-list li {position:relative;padding:50px 0 50px 383px;min-height:300px;border-bottom:1px solid #e5e5e5;text-align:left;box-sizing: border-box;}
.board-list li .img-box{position:absolute;top:50px;left:0;border:1px solid #e5e5e5}
.board-list li .img-box .img{width:350px;height:0;padding-top:200px;background:#fff url(../images/sub/img-default.jpg) no-repeat center}
.board-list li .context-box dt{margin-top:-4px;font-size:24px;color:#000;font-weight:500;letter-spacing:-1px;vertical-align:top;line-height:1.31em}
.board-list li .context-box dt a{font:inherit;}
.board-list li .context-box dd {margin:12px 0 0;font-size:18px;color:#444;line-height:26px;letter-spacing:-1px;}
/* .board-list li .context-box dd p{word-break: break-all;} */
.board-list li .context-box .date{margin:7px 0 0;font:inherit;font-size:14px;}
.board-list + .btn-area{margin:80px 0 100px;}
/* .news .btn-area .btn-more{font-size:20px;color:#000;letter-spacing:-0.03em;font-family:'Notosans'} */

.news .board-detail{margin:60px 0 80px}
.board-detail{text-align:left}
/* .board-detail  *{word-break: break-all;} */
.board-detail .title-box{padding:45px 30px ;border-top:1px solid #e5e5e5}
.board-detail .title-box .title{font-size:34px;font-weight:500;color:#111;letter-spacing:-1px;line-height:1.35em}
.board-detail .title-box .sub-title{margin:10px 0;font-size:18px;line-height:26px;color:#444;letter-spacing:-1px}
.board-detail .title-box .date{font-size:16px;line-height:26px;color:#444;letter-spacing:-1px}
.board-detail .edit-box{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;box-sizing:content-box;min-height:500px;padding:50px 0;line-height:1.45em;box-sizing:border-box;}
.board-detail .edit-box img{max-width:100%}

.news-detail.board-detail .edit-box{padding:50px 30px;text-align:left;min-height:0}
.news-detail.board-detail .edit-box p{text-align:left}
.news-detail.board-detail .img-box {position:relative;display:inline-block;max-width:100%;margin:20px 0}
.news-detail.board-detail .img-box p.text{padding:10px;overflow:hidden;background:#f4f4f4;text-align:center;line-height:1.2em;font-size:0.9em}

.board-detail .btn-area{margin:80px 0 0;text-align:center}
.board-detail .tail-box li {width:100%;border-bottom:1px solid #e5e5e5}
/* .board-detail .tail-box li dl{display:table;width:100%;table-layout: fixed;}
.board-detail .tail-box li dl > *{display:table-cell;vertical-align:middle;height:70px} */
.board-detail .tail-box li dl{position:relative;padding-left:96px;line-height:70px}
.board-detail .tail-box li dl dt{position:absolute;top:0;left:0;width:96px;padding-left:22px;font-size:18px;color:#333;letter-spacing:-0.04em}
.board-detail .tail-box li dl dt::after{content:"";display:block;position:absolute;top:calc(50% - 4px);right:0;width:12px;height:8px;background-image:url(../images/sub/ico-next.png);background-repeat:no-repeat;background-size:contain}
.board-detail .tail-box li:first-child dl dt::after{transform:  rotate(180deg) ;}
.board-detail .tail-box li dl dd{position:relative;padding-left:32px;padding-right:124px;font-size:18px;color:#333;letter-spacing:-0.04em;}
.board-detail .tail-box li dl dd .nolist {font:inherit;color:#949494}
.board-detail .tail-box li dl dd a{font:inherit;display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.board-detail .tail-box li dl dd .date{position:absolute;top:50%;right:20px;color:#444;transform: translate(0,-50%);letter-spacing:-1px}
/* .board-detail .btn-list{width:140px} */

.reference{padding-bottom:110px}
.reference-list table{width:100%;table-layout: fixed;border-top:2px solid #000}
.reference-list table .col1{width:10%}
.reference-list table .col2{width:73%}
.reference-list table .col3{width:17%}
.reference-list table thead th{border-top:2px solid #000;height:58px;text-align:center;vertical-align: middle;background:#f4f4f4;font-size:18px;color:#111;font-weight:500;border-bottom:1px solid #e5e5e5}
.reference-list table tbody td{text-align:center;font-size:18px;color:#444;height:59px;border-bottom:1px solid #e5e5e5}
.reference-list table tbody td a {display:block;font:inherit;text-align:left;padding-left:16px;line-height:1.2em;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.reference .btn-area{margin:80px 0 0}

.news .board-detail .file-list{display:table;width:100%;border-bottom:1px solid #e5e5e5;table-layout: fixed}
.news .board-detail .file-list > *{display:table-cell;vertical-align: middle;text-align:left}
.news .board-detail .file-list dt{width:13%;text-align:center;background:#f4f4f4;font-size:18px;line-height:36px;color:#444;border-right:1px solid #e5e5e5}
.news .board-detail .file-list ul {padding:16px 30px}
.news .board-detail .file-list ul li{text-align:left;height:36px;line-height:36px}
.news .board-detail .file-list ul li a{display:inline-block;padding-right:5px;font-size:18px;color:#0590e1;letter-spacing: -1px;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}

.reference .board-detail .title-box{padding:0}
.reference .board-detail .title-box > div,
.reference .board-detail .title-box > dl{display:table;width:100%;table-layout: fixed;}
.reference .board-detail .title-box > div{height:152px}
.reference .board-detail .title-box > div > *,
.reference .board-detail .title-box > dl > *{display:table-cell;vertical-align: middle;text-align:left}
.reference .board-detail .title-box .title{padding:0 30px}
.reference .board-detail .title-box .date{width:13.7%;font-size:18px;text-align:center} 
.reference .board-detail .title-box .file-list{border-top:1px solid #e5e5e5}
.reference .board-detail .title-box .file-list dt{width:13%;text-align:center;background:#f4f4f4;font-size:18px;line-height:36px;color:#444;border-right:1px solid #e5e5e5}
.reference .board-detail .title-box .file-list ul {padding:16px 30px}
.reference .board-detail .title-box .file-list ul li{text-align:left;height:36px;line-height:36px}
.reference .board-detail .title-box .file-list ul li a{display:inline-block;font-size:18px;color:#0590e1;letter-spacing: -1px;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.reference .board-detail .edit-box{padding:50px 30px;min-height:0;font-size:18px;color:#444;letter-spacing: -1px}
@media screen and (max-width:1280px) {/* laptop */
    #content.news .inner_wrapper{padding:0 82px}
    .news .board-detail{margin:70px 0 100px}
}
@media screen and (max-width:768px) {/* tablet */
    .news .keyvisual{background:url(../images/sub/img-visual-news-t.jpg) no-repeat center}
    #content.news .inner_wrapper{padding:0 50px}
    .news .search-box {margin:80px 0 40px}
    .news .search-box .inner-box{width:100%;margin:0}
    .news .search-box .select-box{width:90px}
    .news .search-box .select-box label{font-size:14px;height:48px;line-height:48px;padding-right:20px}
    .news .search-box .select-box label::after{width:10px;height:6px;}
    .news .search-box  input[type="search"]{padding:0 60px 0 124px;font-size:14px;height:50px;line-height:48px}
    .news .search-box .btn-srch{width:50px;padding-top:50px;background-size:17px auto}

    .board-list li {padding:30px 0 30px 270px;min-height:224px}
    .board-list li .img-box{top:30px}
    .board-list li .img-box .img{width:234px;padding-top:57.1%;background:url(../images/sub/img-default-m.jpg) no-repeat center;background-size:auto 63px}
    .board-list li .context-box dt{margin-top:-4px;font-size:20px;}
    .board-list li .context-box dd {margin:5px 0 0;font-size:16px;line-height:24px}
    .board-list li .context-box .date{margin:5px 0 0;font-size:12px;}
    .board-list + .btn-area{margin:90px 0;}
    /* .news .btn-area .btn-more{font-size:18px;} */

    .news .board-detail{margin:50px 0 100px}
    .board-detail .title-box{padding:25px 0}
    .board-detail .title-box .title{font-size:24px;}
    .board-detail .title-box .sub-title{margin:2px 0 0;font-size:16px;}
    .board-detail .title-box .date{font-size:14px}
    .news-detail.board-detail .edit-box,
    .board-detail .edit-box{padding:30px 0;min-height:200px}
    .board-detail .btn-area{margin:60px 0 0}
    .board-detail .tail-box li dl{line-height:50px;padding-left:80px;}
    .board-detail .tail-box li dl dt{width:80px;padding-left:20px;font-size:14px}
    .board-detail .tail-box li dl dt::after{top:calc(50% - 3px);width:10px;height:6px;background-image:url(../images/sub/ico-next-m.png)}
    .board-detail .tail-box li dl dd{padding-left:42px;padding-right:100px;font-size:14px}
    /* .board-detail .btn-list{width:126px} */
    .news .board-detail  .file-list dt{width:16.1%;font-size:14px;line-height:28px;}
    .news .board-detail  .file-list ul {padding:10px 20px}
    .news .board-detail  .file-list ul li{height:28px;line-height:28px}
    .news .board-detail  .file-list ul li a{font-size:14px;}

    .reference{padding-bottom:90px}
    .reference-list table .col1{width:9.7%}
    .reference-list table .col2{width:74.6%}
    .reference-list table .col3{width:15.7%}
    .reference-list table thead th{height:49px;font-size:14px;}
    .reference-list table tbody td{font-size:14px;height:49px}
    .reference-list table tbody td a {padding-left:24px;}
    .reference .btn-area{margin:60px 0 0}
   
    .reference.detail{padding-bottom:70px}
    .reference.detail  .btn-area{margin:50px 0 0}
    .reference .board-detail{margin-bottom:0}
    .reference .board-detail .title-box > div{height:80px}
    .reference .board-detail .title-box .title{padding:20px 30px}
    .reference .board-detail .title-box .date{width:19.3%;font-size:14px} 
    .reference .board-detail .title-box .file-list dt{width:16.1%;font-size:14px;line-height:28px;}
    .reference .board-detail .title-box .file-list ul {padding:10px 20px}
    .reference .board-detail .title-box .file-list ul li{height:28px;line-height:28px}
    .reference .board-detail .title-box .file-list ul li a{font-size:14px;}
    .reference .board-detail .edit-box{padding:50px 30px;font-size:18px;}
}
@media screen and (max-width:640px) {  /* mobile */
    .news .keyvisual{background:url(../images/sub/img-visual-news-m.jpg) no-repeat center}
    #content.news .inner_wrapper{padding:0 16px}
    .news .search-box {margin:40px 0 }
    .news .search-box .select-box{width:66px}
    .news .search-box .select-box label{font-size:14px;height:53px;line-height:53px;padding-right:10px}
    .news .search-box .select-box label::after{right:0}
    .news .search-box  input[type="search"]{padding:0 60px 0 87px;font-size:14px;height:55px;line-height:53px}
    .news .search-box .btn-srch{width:55px;padding-top:55px;background-size:20px auto}

    .board-list li {padding:30px 0;min-height:0}
    .board-list li .img-box{position:static}
    .board-list li .img-box .img{width:100%;padding-top:57.1%;background-size:auto 76px}
    .board-list li .context-box dt{margin-top:23px}
    .board-list li .context-box dd {font-size:14px;line-height:24px}
    .board-list li .context-box .date{margin:3px 0 0}

    .board-list + .btn-area{margin:40px 0 50px;}
    /* .news .btn-area .btn-more{font-size:16px;} */

    .news .board-detail{margin:35px 0 47px}
    /* .board-detail .title-box{padding-bottom:25px} */
    .board-detail .title-box .title{font-size:22px;}
    .board-detail .title-box .sub-title{margin:5px 0 3px;font-size:16px;}
    .board-detail .title-box .date{font-size:13px}
    .board-detail .btn-area{margin:40px 0 0}
    .board-detail .tail-box li dl{line-height:50px;padding-left:70px}
    .board-detail .tail-box li dl dt{width:70px;padding-left:10px;font-size:13px}
    .board-detail .tail-box li dl dd{padding-left:12px;padding-right:10px;font-size:13px}
    .board-detail .tail-box li dl dd .date{display:none}
    /* .board-detail .btn-list{width:100%;height:42px;line-height:40px} */


    .news .board-detail .file-list dt{width:75px;font-size:13px;line-height:26px;}
    .news .board-detail .file-list ul {padding:10px 15px}
    .news .board-detail .file-list ul li{height:26px;line-height:26px}
    .news .board-detail .file-list ul li a{font-size:13px;}

    .reference{padding-bottom:60px}
    .reference-list table .col1{width:14.9%}
    .reference-list table .col2{width:57.4%}
    .reference-list table .col3{width:27.7%}
    .reference-list table thead th{font-size:13px;}
    .reference-list table tbody td{font-size:13px}
    .reference-list table tbody td a {padding-left:12px;}
    .reference .btn-area{margin:53px 0 0}

    .reference.detail{padding-bottom:50px}
    .reference .board-detail{margin-bottom:0}
    .reference.detail  .btn-area{margin:35px 0 0}
    .reference .board-detail .title-box > div{height:auto;padding:25px 13px}
    .reference .board-detail .title-box > div> *{display:block;width:100%;box-sizing:border-box}
    .reference .board-detail .title-box .title{padding:0}
    .reference .board-detail .title-box .date{margin:5px 0 0;width:100%;font-size:14px;text-align:left} 
    .reference .board-detail .title-box .file-list dt{width:75px;font-size:13px;line-height:26px;}
    .reference .board-detail .title-box .file-list ul {padding:10px 15px}
    .reference .board-detail .title-box .file-list ul li{height:26px;line-height:26px}
    .reference .board-detail .title-box .file-list ul li a{font-size:13px;}
    .reference .board-detail .edit-box{padding:45px 15px;font-size:13px;}
}

}