.fix #content.story {padding:0}
body.fixHight {width:100%;height:100%;overflow:hidden}
.story  + footer {position:fixed; left:0; bottom:0; right:0; transform:translate(0, 503px); transition:transform 1.5s cubic-bezier(.66,0,.34,1);} 
.story  + footer.on {position:relative;transform:translate(0, 0)}
.story .inner_container.last_min_height {min-height:100%;}
.story .inner_container.last_min_height  #STORY_STEP3{position:relative; transform:translate(0, -503px);}
.story .section {position:fixed; top:0; left:0; width:100%; height:100vh; padding-top:62px;box-sizing:border-box; max-width:100%; transform:translate(0, 100%); opacity:0; }
.story .section .section_inner {position:relative; width:100%; height:100%;overflow:hidden}
.story .section .bg_box {position:absolute; top:0; left:0; width:100vw; height:100vh; transform:scale(0.8) rotate(.0001deg); box-sizing:border-box;}
.story .section .bg_box .bg_box_inner {position:relative; width:100%; height:100%; overflow:hidden;}
.story .section .bg_box .bg_box_inner::after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.2); opacity:0;}
.story .section .bg_box .bg_box_inner li {position:absolute; bottom:0; left:0; width:100%; height:0; overflow:hidden}
.story .section .bg_box .bg_box_inner li:first-child {height:100%;}
.story .section .bg_box .bg_box_inner li > div {position:absolute; bottom:0; left:0; width:100%; height:100vh;}
.story .section .bg_box .bg_box_inner li:first-child > div {height:100%;}
.story .section .bg_box .bg_box_inner li.on .bg {transform:scale(1) rotate(.0001deg); transition:transform 20s;}
.story .section.active .bg_box .bg_box_inner li > div {height:100vh;}

.story .section .copy_box {position:absolute; top:0; left:0; width:100%; height:100%; display:table; text-align:center;}
.story .section .copy_box .copy_box_inner {display:table-cell; vertical-align:middle;}
.story .section .copy_box .copy_box_inner .title {font-size:45px; color:#fff; line-height:55px; padding-bottom:40px;letter-spacing:-0.02px;text-align:left;}
.story .section .copy_box .copy_box_inner .desc {font-size:18px; color:#fff; line-height:32px;letter-spacing:-0.06px}
.story .section .copy_box .copy_box_inner .desc + .desc{margin:35px 0 0}
.story .section .copy_box .copy_box_inner .desc div > span {display:block;text-align:left}
.story .section .copy_box .copy_box_inner  .underline {position:relative; display:inline-block;}
.story .section .copy_box .copy_box_inner  .underline span {position:relative; z-index:1}
.story .section .copy_box .copy_box_inner  .underline .line {position:absolute; bottom:0; left:0; width:0; height:10px; z-index:0;}
.story .section .copy_box .copy_box_inner  .underline1 .line {background-color:#003d9a;}
.story .section .copy_box .copy_box_inner  .underline2 .line {background-color:#0590e1;}
.story .section .copy_box .copy_box_inner  .underline3 .line {background-color:#00a374;}

/*=== STEP1 ================================================================*/
.story #STORY_NAVI {position:fixed; top:0; right:28px; width:20px; height:100vh; display:table; z-index:2; color:#fff; text-align:center;padding-top:88px}
.sc .story  #STORY_NAVI {padding-top:0}
.story #STORY_NAVI.off {opacity:0; visibility:hidden; transition:all 0.3s;}
.story #STORY_NAVI .navi_container {display:table-cell; vertical-align:middle;}
.story #STORY_NAVI .navi_container .navi_inner .title_box {position:relative; width:20px; height:200px; font-size:14px;}
.story #STORY_NAVI .navi_container .navi_inner .title_box .titles {position:absolute; bottom:0; left:0; width:166px; height:20px; white-space:nowrap; transform:rotate(-90deg); transform-origin:top left;}
.story #STORY_NAVI .navi_container .navi_inner .title_box .titles li {position:absolute; top:0; left:0; height:20px; line-height:20px; opacity:0; transition:opacity 0.3s;}
.story #STORY_NAVI .navi_container .navi_inner .title_box .titles li.on {opacity:1;}
.story #STORY_NAVI .navi_container .navi_inner .btns {margin-top:12px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a {position:relative; display:block; font-size:13px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a:after {content:""; position:relative; left:50%; display:block; width:1px; height:15px; background-color:rgba(255,255,255,0.3); margin:12px 0;}
.story #STORY_NAVI .navi_container .navi_inner .btns a span {position:relative; display:block; height:14px; line-height:14px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a > span:before {content:""; position:absolute; top:50%; left:50%; width:3px; height:3px; background-color:#fff; transform:translate(-50%); margin-top:-1px; transition:opacity 0.3s;}
.story #STORY_NAVI .navi_container .navi_inner .btns a > span > span {position:relative; opacity:0; transition:opacity 0.3s;}
.story #STORY_NAVI .navi_container .navi_inner .btns a.on > span > span {opacity:1;}
.story #STORY_NAVI .navi_container .navi_inner .btns a.on > span:before {opacity:0;}
.story #STORY_NAVI .navi_container .navi_inner .btns a:last-child:after {content:none;}

.story #STORY_STEP1 {padding-top:88px}
.story #STORY_STEP1  .copy_box {top:0;left:48.98%}
.story #STORY_STEP1 .title span {display:inline-block;}

.story #STORY_STEP1 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy01.jpg") no-repeat center/cover;}
.story #STORY_STEP2 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy02.jpg") no-repeat center/cover;}
.story #STORY_STEP3 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy03.jpg") no-repeat center/cover;}

.story #STORY_STEP2 .copy_box {top:0;left:20.93%;padding-top:13.28%}
.story #STORY_STEP2 .copy_box .copy_box_inner{vertical-align:top}
.story #STORY_STEP2 .signbox{padding-bottom:60px;background:url(../images/story/img-sign.png) no-repeat 0 bottom}

.story #STORY_STEP3  .copy_box .copy_box_inner .title,
.story #STORY_STEP3  .copy_box .copy_box_inner .desc div span{text-align:center}
.story #STORY_STEP3.section .copy_box .copy_box_inner{vertical-align:top;padding-top:100px}
/*=== SCROLL_DOWN ================================================================*/
.story #SCROLL_DOWN {position:fixed; bottom:50px; left:0; width:100%; height:33px;text-align:center;background-position:center}
.story #SCROLL_DOWN.mid {height:57px}
/* .story #SCROLL_DOWN.mid .btn{} */
/* .story #SCROLL_DOWN.up{background-position:center;background-size:auto 100%;animation:scroll-animate2 3s infinite}
.story #SCROLL_DOWN.on {background-position:center;background-size:auto 100%;animation:scroll-animate 3s infinite;} */

/*=== STEP1 - ANIMATIONS ================================================================*/
/* SET */
.story #STORY_STEP1.on {transform:translate(0, 0); opacity:1; } 
.story #STORY_STEP1.on .section_title > span {opacity:0; transform:translate(0, 100px);}
.story #STORY_STEP1.on .bg_box .bg_box_inner:after {opacity:0;}
.story #STORY_STEP1.on .section_desc {opacity:0;}
.story #STORY_STEP1.on .section_desc div > span {opacity:0; transform:translate(0, 50px);}

.story #STORY_STEP1.on.active {transform:translate(0, 0); opacity:1; }
.story #STORY_STEP1.on.active .bg_box {opacity:1;transform:scale(1) rotate(.0001deg);}
.story #STORY_STEP1.on.active .bg_box .bg_box_inner:after {opacity:1; transition:opacity 1s 2.5s;}
.story #STORY_STEP1.on.active .section_title > span {opacity:1; transform:translate(0, 0); transition:opacity 1s, transform 1s 0.5s cubic-bezier(.66,0,.34,1);}
.story #STORY_STEP1.on.active .section_desc {opacity:1;}
.story #STORY_STEP1.on.active .section_desc div > span {opacity:1; transform:translate(0, 0);} 

/*=== SECTION GROUP ANIMATIONS ================================================================*/
/* IN */
.story .section.prev.in {animation:prev-in-animate 1.3s 0.9s cubic-bezier(.66,0,.34,1) forwards; opacity:1; }
.story .section.next.in {animation:next-in-animate 1.3s 0.9s cubic-bezier(.66,0,.34,1) forwards; opacity:1; }
.story .section.in .bg_box {transform:scale(1) rotate(.0001deg); transition:transform 1s 2.1s cubic-bezier(.66,0,.34,1);}
.story .section.in .bg_box .bg_box_inner:after {opacity:1; transition:opacity 1s 2.5s;}
.story .section.in .section_title > span {opacity:0; transform:translate(0, 100px);}
.story .section.in .section_desc {opacity:1;}
.story .section.in .section_desc div > span {opacity:0; transform:translate(0, 50px);}

/* OUT */
.story .section.out {transform:translate(0,0);}
.story .section.prev.out {animation:prev-out-animate 1.3s 0.9s cubic-bezier(.66,0,.34,1) forwards; opacity:1; }
.story .section.next.out {animation:next-out-animate 1.3s 0.9s cubic-bezier(.66,0,.34,1) forwards; opacity:1; }
.story .section.out .bg_box {transform:scale(0.8) rotate(.0001deg); transition:transform 1s cubic-bezier(.66,0,.34,1);}
.story .section.out .bg_box .bg_box_inner:after {opacity:0; transition:opacity 0.3s;}
.story .section.out .bg_box .bg_box_inner li .bg {height:100%;}
.story .section.out .section_title {opacity:0; transition:opacity 1s !important;}
.story .section.out .section_desc {opacity:0; transition:opacity 1s !important;}
.story .section.out .section_desc div > span {transition:none;}

/* READY */
.story .section.ready .section_title > span,
.story .section.ready .section_title div > span  {opacity:1; transform:translate(0, 0); transition:opacity 1s, transform 1s 0.5s cubic-bezier(.66,0,.34,1);}
.story .section.ready .section_desc div > span {opacity:1; transform:translate(0,0); transition:opacity 1s, transform 1s;}
.story .section.ready .section_desc div:nth-of-type(1) > span {transition-delay:1s;}
.story .section.ready .section_desc div:nth-of-type(2) > span {transition-delay:1.1s;}
.story .section.ready .section_desc div:nth-of-type(3) > span {transition-delay:1.2s;}
.story .section.ready .section_desc div:nth-of-type(4) > span {transition-delay:1.3s;}
.story .section.ready .section_desc div:nth-of-type(5) > span {transition-delay:1.4s;}
.story .section.ready .section_desc div:nth-of-type(6) > span {transition-delay:1.5s;}
.story .section.ready .section_desc div:nth-of-type(7) > span {transition-delay:1.6s;}
.story .section.ready .section_desc div:nth-of-type(8) > span {transition-delay:1.7s;}
.story .section.ready .section_desc div:nth-of-type(9) > span {transition-delay:1.8s;}
.story .section.ready .section_desc div:nth-of-type(10) > span {transition-delay:1.9s;}
.story .section.ready .section_desc div:nth-of-type(11) > span {transition-delay:2s;}

@keyframes prev-in-animate {
    0% {transform:translate(0,-100%)}
    100% {transform:translate(0,0)}
}

@keyframes prev-out-animate {
    0% {transform:translate(0,0)}
    100% {transform:translate(0,100%)}
}

@keyframes next-in-animate {
    0% {transform:translate(0,100%)}
    100% {transform:translate(0,0)}
}

@keyframes next-out-animate {
    0% {transform:translate(0,0)}
    100% {transform:translate(0,-100%)}
}

/* Media */
@media screen and (max-width:1280px) {
    .story #STORY_NAVI,
    .story #SCROLL_DOWN{display:none}
    .story #STORY_STEP1  .copy_box {left:35%;width:65%}
    .story #STORY_STEP1  .copy_box span{letter-spacing:-1px}
    .story #STORY_STEP2  .copy_box {left:3.9%}
    .story #STORY_STEP1 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy01-1280.jpg") no-repeat center/cover;}
    .story #STORY_STEP2 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy02-1280.jpg") no-repeat center/cover;}
    .story #STORY_STEP3 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy03-1280.jpg") no-repeat center/cover;}
}
@media screen and (max-width:1080px) {
.story .section {padding-top:46px;}
.story #STORY_STEP1 {padding-top:75px}
.story #STORY_NAVI {padding-top:75px}
.sc  .story #STORY_NAVI {padding-top:48px}
}
@media screen and (max-width:768px) {
.story #STORY_NAVI{display:table}
.story #SCROLL_DOWN{display:block}
/* .story .section {padding-top:46px;} */
.story #STORY_STEP1 {padding-top:75px}
.story #STORY_STEP1  .copy_box {left:40.88%;width:59.12%}
.story #STORY_STEP1  .copy_box span{letter-spacing:-1px}
.story #STORY_STEP2  .copy_box {padding-top:17.57%;left:6.5%;width:93.5%}
.story #STORY_STEP1 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy01-768.jpg") no-repeat center/cover;}
.story #STORY_STEP2 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy02-768.jpg") no-repeat center/cover;}
.story #STORY_STEP3 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy03-768.jpg") no-repeat center/cover;}

.story  #STORY_STEP2 .signbox{margin:16px  0 0;padding-bottom:23px;background-size:auto 100%;}

.story .section .copy_box .copy_box_inner .title {font-size:35px; line-height:40px; padding-bottom:20px;}
.story .section .copy_box .copy_box_inner .desc {font-size:13px; line-height:20px}
.story .section .copy_box .copy_box_inner .cp.desc {margin:0}
.story .section .copy_box .copy_box_inner .cp.desc  br{display:none}
.story .section .copy_box .copy_box_inner .cp.desc + .desc{margin:20px 0 0}
.story .section .copy_box .copy_box_inner  .underline .line {height:8px; }

.story #STORY_NAVI {right:15px; width:15px; padding-top:75px}
.sc .story #STORY_NAVI {padding-top:48px}
.story #STORY_NAVI .navi_container .navi_inner .title_box {display:none}
.story #STORY_NAVI .navi_container .navi_inner .btns {margin-top:5px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a {position:relative; display:block; font-size:13px;font-weight:500}
.story #STORY_NAVI .navi_container .navi_inner .btns a:after {content:""; position:relative; left:50%; display:block; width:1px; height:8px; background-color:rgba(255,255,255,0.3); margin:2.5px 0;}
.story #STORY_NAVI .navi_container .navi_inner .btns a span {position:relative; display:block; height:14px; line-height:14px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a > span:before {width:2px; height:2px;}
.story #SCROLL_DOWN {position:fixed; bottom:20px; left:0; width:100%; height:20px;text-align:center;background-size:auto 100% !important}
.story #SCROLL_DOWN.mid{height:36px}
}

@media screen and (max-width:640px) {     
.story .section .copy_box .copy_box_inner .title {font-size:26px; line-height:31px; padding-bottom:20px;}
/* .story .section .copy_box .copy_box_inner .desc {font-size:15px; line-height:24px} */
.story .section .copy_box .copy_box_inner .cp.desc {margin:0}
.story .section .copy_box .copy_box_inner span{color:#e2e2e2}
.story .section .copy_box .copy_box_inner .cp.desc  br{display:block}
.story .section .copy_box .copy_box_inner .cp.desc + .desc{margin:20px 0 0}
.story .section .copy_box .copy_box_inner  .underline .line {height:5px;bottom:1px }

.story #STORY_STEP1{padding-top:62px}
.story #STORY_STEP1  .copy_box {left:0;width:100%}
.story #STORY_STEP1 .copy_box .copy_box_inner .title,
.story #STORY_STEP1 .copy_box .copy_box_inner .desc span{text-align:center}
.story #STORY_STEP1  .copy_box span{letter-spacing:-1px}

.story #STORY_STEP2  .copy_box {padding:0;left:5%}
.story #STORY_STEP2 .copy_box .copy_box_inner{vertical-align:middle}

.story #STORY_STEP3 .copy_box .copy_box_inner .title,
.story #STORY_STEP3 .copy_box .copy_box_inner .desc span{text-align:center}

.story #STORY_STEP1 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy01-640.jpg") no-repeat center/cover;}
.story #STORY_STEP2 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy02-640.jpg") no-repeat center/cover;}
.story #STORY_STEP3 .bg_box .bg_box_inner li.bg1 .bg {background:url("../images/story/img-stroy03-640.jpg") no-repeat center/cover;}
.story #STORY_STEP3.section .copy_box .copy_box_inner{padding-top:50px}
.story #STORY_NAVI {right:10px; width:9px; padding-top:64px}
.sc .story  #STORY_NAVI {padding-top:48px}
.story #STORY_NAVI .navi_container .navi_inner .title_box {display:none}
.story #STORY_NAVI .navi_container .navi_inner .btns {margin-top:3px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a {position:relative; display:block; font-size:11px;font-weight:500}
.story #STORY_NAVI .navi_container .navi_inner .btns a:after {content:""; position:relative; left:50%; display:block; width:1px; height:8px; background-color:rgba(255,255,255,0.3); margin:3px 0;}
.story #STORY_NAVI .navi_container .navi_inner .btns a span {position:relative; display:block; height:9px; line-height:9px;}
.story #STORY_NAVI .navi_container .navi_inner .btns a > span:before {width:2px; height:2px;}

.story #SCROLL_DOWN {bottom:20px;height:20px}

}

