@charset "utf-8";
@font-face {
font-family: 'NanumSquare';
font-weight: normal;
src: url(NanumSquareR.eot);
src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
		url(NanumSquareR.woff) format('woff');
}
@font-face {
font-family: 'NanumSquare';
font-weight: 300;
src: url(NanumSquareL.eot);
src: url(NanumSquareL.eot?#iefix) format('embedded-opentype'),
		url(NanumSquareL.woff) format('woff');
}
@font-face {
font-family: 'NanumSquare';
font-weight: 500;
src: url(NanumSquareB.eot);
src: url(NanumSquareB.eot?#iefix) format('embedded-opentype'),
		url(NanumSquareB.woff) format('woff');
}
@font-face {
font-family: 'NanumSquare';
font-weight: 700;
src: url(NanumSquareEB.eot);
src: url(NanumSquareEB.eot?#iefix) format('embedded-opentype'),
		url(NanumSquareEB.woff) format('woff');
}